*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    padding: 10px;
    background-color: rgb(192, 172, 142);
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
list-style-type: none;
margin: 0;
padding: 0;
text-align: right;

}

.navbar li{
    display: inline;
    margin-left: 35px;
    font-weight: 500;
   
   
}
#contact-nav{
    margin-right: 50px;
}

#protect{
    text-align: left;
    margin: 0;
    padding-right: 40px;
    font-size: 23px;
    font-weight: 600;
    color: blue;
    
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    
}
.logo p{
    padding-top: 11px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    color:brown;
}

.heading{
    background-image: url('Images/head\ cover.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

#head1{
    text-align: left;
    padding-top: 190px;
    font-size: 60px;
    text-shadow: 5px 5px 10px rgb(122, 44, 44);
    width: fit-content;
    margin-left: 160px;
    box-sizing: content-box;
    
    
   
    
}

#head2{
    text-align: left;
    font-size: 60px;
    text-shadow: 3px 3px 7px rgb(223, 223, 131);
    margin-left: 60px;
    font-size: 40px;
    color: rgb(100, 34, 34);

}
